@font-face {
    font-family: "NoirPro-Regular";
    src: url("//db.onlinewebfonts.com/t/ff194d14f11197a37610711ef9f788ff.eot");
    src: url("//db.onlinewebfonts.com/t/ff194d14f11197a37610711ef9f788ff.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ff194d14f11197a37610711ef9f788ff.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ff194d14f11197a37610711ef9f788ff.woff") format("woff"), url("//db.onlinewebfonts.com/t/ff194d14f11197a37610711ef9f788ff.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ff194d14f11197a37610711ef9f788ff.svg#NoirPro-Regular") format("svg");
}

.create-network * {
    font-family: 'NoirPro-Regular', Lato;
}

.create-network .anchor {
    transition: 0.25s ease;
}

.create-network .anchor:hover {
    color: #5e50ee !important;
    font-weight: 500;
}
@media (min-width : 300px) and (max-width: 767px) {
.inputbox {
   
min-width: 200px;
}

}