@font-face {
    font-family: "NoirPro-Regular";
    src: url("//db.onlinewebfonts.com/t/ff194d14f11197a37610711ef9f788ff.eot");
    src: url("//db.onlinewebfonts.com/t/ff194d14f11197a37610711ef9f788ff.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ff194d14f11197a37610711ef9f788ff.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ff194d14f11197a37610711ef9f788ff.woff") format("woff"), url("//db.onlinewebfonts.com/t/ff194d14f11197a37610711ef9f788ff.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ff194d14f11197a37610711ef9f788ff.svg#NoirPro-Regular") format("svg");
}

.purchases * {
    font-family: 'NoirPro-Regular', Lato;
}

.purchases .p-custom {
    padding: 0.75rem 0px 0.75rem 1.5rem ;
}

.purchases .active {
    font-weight: 800;
    background-color: #7367f0 !important;
    color: #ffffff !important;
	box-shadow: 0 8px 25px -8px #7367f0 !important;
    transition: 0.1s ease;
}

.purchases .active:active {
    background-color: #6d63dd !important;
	box-shadow: 0 0px 0px 0px #7367f0 !important;
}
